package main

const (
	// ProxyingDomain is the domain this proxy needs to connect to.
	ProxyingDomain = "oss-auth.shop.wii.com"
	// ConnectingDomain is the domain the Wii is connecting to, to which we need to edit redirects to.
	ConnectingDomain = ""
)